nav, .copyright {
    background-color: #2C3E50;
}

.jumbo, .about, .contact button {
    background-color: var(--bs-teal);
}

.jumbo img {
    width: 240px;
}

.star::before {
    content: "";
    display: block;
    width: var(--line-width);
    height: 4px;
    margin-inline-end: 0.5rem;
    background-color: white;
}

.star {
    --line-width: 15%;
}

.star::after {
    content: "";
    display: block;
    width: var(--line-width);
    height: 4px;
    margin-inline-start: 0.5rem;
    background-color: white;
}

.portfolio .star::before,
.portfolio .star::after,
.contact .star::before,
.contact .star::after {
    background-color: black;
}

.line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 0.4rem;
    background-color: grey;
}

.line input {
    flex: 0 0 85%;
}

form .btn:hover {
    background-color: var(--bs-teal);
    opacity: 0.8;
}

footer .links a {
    width: max-content;
}

footer {
    background-color: #3A546D;
}

footer button {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
}